.puzzle-board {
  display: grid;
  /* TODO: refactor to retain a square shape but not hardcode fixed numbers */
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  margin: auto;
}

.puzzle-square {
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
}

.puzzle-square--invalid {
  border-color: red;
}
