:root {
  --font: 'Mukta', sans-serif;
  --color-brand: #2b9399;
  --color-white: #fff;
  --color-light: #efefed;
  --color-gray-1: #b1b2af;
  --color-gray-2: #7b7977;
  --color-gray-3: #545251;
  --color-gray-4: #3a393a;
  --color-error: #a7280c;
}

html {
  box-sizing: border-box;
  background-color: var(--color-light);
  color: var(--color-gray-3);
  font-family: var(--font);
}

input,
select,
button {
  color: inherit;
  font-family: inherit;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
